
.container {
    background-color: aquamarine;
    border: 2px solid black;
    height: 500px;
    width: 900px;
    display: grid;
}
.one {
    margin: 10px;
    padding: 10px;
    background-color:darkgreen;
}
.two {
    margin: 10px;
    padding: 10px;
    background-color: bisque;
}
.three {
    margin: 10px;
    padding: 10px;
    background-color: blue;
}
.four {
    margin: 10px;
    padding: 10px;
    background-color: coral;
}
.five {
    margin: 10px;
    padding: 10px;
    background-color: blueviolet;
}
.six {
    margin: 10px;
    padding: 10px;
    background-color: cornflowerblue;
}